<h1>Willkommen zum Professionellen Darttrainingscenter</h1>
<div class="dashboard">
<!-- Halve-It Karte -->
  <mat-card (click)="navigateTo('/halveit')">
    <mat-card-content>
    <mat-card-header>
      <mat-card-title>Halve-It</mat-card-title>
      <mat-card-subtitle>
        Bei Halve-It werden die Zahlen zwischen 15 und 20 sowie Bulls-Eye trainiert. Das Spiel dient
        super zum Warm-Up!
      </mat-card-subtitle>
    </mat-card-header>
    </mat-card-content>
  </mat-card>

  <!-- Mulligan Karte -->
  <mat-card (click)="navigateTo('/mulligan')">
    <mat-card-content>
    <mat-card-header>
      <mat-card-title>Mulligan</mat-card-title>
      <mat-card-subtitle>
        Bei Mulligan geht es um die Zielgenauigkeit. Hier wird das Treffen von Trippeln trainiert.
      </mat-card-subtitle>
    </mat-card-header>
    </mat-card-content>
  </mat-card>
  <!-- 501 Karte -->
  <mat-card (click)="navigateTo('/x01')">
    <mat-card-content>
    <mat-card-header>
      <mat-card-title>501</mat-card-title>
      <mat-card-subtitle>
        501 ist der Klassiker, der auch in unterschiedlichen Ligaspielen angewandt wird und dementsprechend ein Kernelement
        im Training
      </mat-card-subtitle>
    </mat-card-header>
    </mat-card-content>
  </mat-card>
</div>
